<% if logged_in? %>
<script type="text/javascript">

window.currentUser = <%= render("api/users/user.json.jbuilder",
user: current_user).html_safe %>
</script>



<% end %>

<main id="root">Hit "refresh" to hit page if you still see this after 3 seconds</main>
