@font-face {
   font-family: 'Alegreya';
   src: url('/assets/fonts')
}

a {
  color: #F48025
}

.error{
  color: red;
  font-size: 12px;
}

 .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 101%;
  box-shadow: 0 0 2px 1px rgba(39, 31, 31, 0.2);
  border-top: 3px solid #F48025;
  background-color: whitesmoke;
  z-index: 999;
  height: 47px
}

.session-form-padding-signup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #EFF0F1;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.session-form-padding-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 200px;
  flex-direction: column;
  background-color: #EFF0F1;
}

.session-form-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10% 10% 10% 10%;
}

.session-form-signup {
  padding: 20px;
  background-color:#FFFFFF;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

}

.session-form-signup label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}

.signup-input-no-errors {
  border-color: #BBC0C4;
  border-radius: 5px;
  width: 270px;
  height: 35px;
}

.signup-input-yes-errors {
  border-color: red;
  border-radius: 5px;
  width: 270px;
  height: 35px;
}

.login-input-no-errors {
  border-color: #BBC0C4;
  border-radius: 5px;
  width: 236px;
  height: 35px;
}

.login-input-yes-errors {
  border-color: red;
  border-radius: 5px;
  width: 236px;
  height: 35px;

}

.session-form-login {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 0;
  width: 350px;
}
.session-form-login label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}


.session-form-login button {
   background-color: #0095FF;
   cursor: pointer;
   border-radius: 5px;
   height:30px;
   width: 100%;
   color: whitesmoke;
   border: 0;
  }
  

.session-form-signup button {
   background-color: #0095FF;
   cursor: pointer;
   border-radius: 5px;
   height:30px;
   width: 100%;
   color: whitesmoke;
   border: 0;
}

.right-of-signup p {
  font-size: 16px;
}

.session-form-padding-login p {
  font-size: 16px;
}

.right-of-signup small {
  font-size: 10px;
  color:darkgray;
}

 #top-logo {
  height: 100%;
  width: 12%;
  padding-right: 10px;
  cursor: pointer;
  color: whitesmoke;
 }

 #signup-button {
   box-shadow:inset 0px 1px 0px 0px #71C1FF;
   border: 1px solid #0095FF;
   background-color: #0095FF;
   cursor: pointer;
   border-radius: 5px;
   height:35px;
   width: 65px;
   color: whitesmoke;
   
  }
  
  #signup-button:hover {
    box-shadow:inset 0px 1px 0px 0px #5FA7DD;
    border: 1px solid #0077CC;
    background-color: #0077CC;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 65px;
    color: whitesmoke;

  }
  
  #login-button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #E1ECF4;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 65px;
    color: #39739D;
    box-shadow:inset 0px 1px 0px 0px #F6F9FC;
    border: 1px solid #39739D;
  }
  
  #login-button:hover {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #B3D3EA;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 65px;
    box-shadow:inset 0px 1px 0px 0px #E2EFF7;
    border: 1px solid #39739D;
    
  }

  #logout-button {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #E1ECF4;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 75px;
    color: #39739D;
    box-shadow:inset 0px 1px 0px 0px #F6F9FC;
    border: 1px solid #39739D;
  }
  
  #logout-button:hover {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #B3D3EA;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 75px;
    box-shadow:inset 0px 1px 0px 0px #E2EFF7;
    border: 1px solid #39739D;
    
  }

  .subtext {
    font-size: 10px;
    color: gray;
  }

  .left-of-signup{
    margin-left: 25%;
    margin-top: 13%
  }


  .left-of-signup-grid{
    display: grid;
    grid-template-columns: 30px 400px;
    row-gap: 20px;
    column-gap: 10px;
  }

  .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  }

  .right-of-signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
  }

  .search-bar-nav input{
    margin-right: 15px;
    outline:0;
    border: 1px solid #BBC0C4;
  }
  
  .search-bar-nav input:focus {
    margin-right: 15px;
    outline:0;
    border: 1px solid #6CBBF7;
    box-shadow: 0 0 5px 3px rgba(217, 236, 252, .4);
    
  }

  .hide-links{
    text-decoration: none;
  }

  .linked-in-nav {
    margin-left: 10px;
    margin-right: 25px;
    background-color: #0077B5;
    color: whitesmoke;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 0;
  }
  
  .github-nav {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #181616;
    color: whitesmoke;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 0;
  }

  .linked-in-nav:hover {
    margin-left: 10px;
    margin-right: 25px;
    background-color: #F48025;
    color: whitesmoke;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 0;
  }
  
  .github-nav:hover {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F48025;
    color: whitesmoke;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 0;
  }
  
  .logout-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .my-profile-button{
    color: #195398;
    margin-left: 10px;
    padding: 12px 15px 11px 15px;
    text-decoration: none;
  }

  .my-profile-button:hover {
    background-color: #E4E6E8;
  }