.question-index-container{
padding-top: 45px;
display: flex;
height: 80%;
padding-bottom: -10px;
width: 100%;
overflow-x: hidden;
}

.question-index-left{
  background: red;
  width: 25%;
  position: fixed;
  left: 0;
  height: 0%;
}

.question-index-right{
  flex-basis: 42%;
  margin-left: 25%;
  height: 100%; 
  overflow: auto;
  border-left: 2px solid #D6D9DC;
  font-family: 'Work Sans', sans-serif;
}

.left-nav-home-button{
  background-color: #EFF0F1;
  border: 0;
  right: 0px;
  float: right;
  height: 33px;
  width: 166px;
  border-right: 3px solid #F48025;
  text-align: left;
  margin-top: 25px;
  margin-right: -5px;
  cursor: pointer;
  font-weight: bold;
}

.questions-index-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  
}

 .ask-a-question-button-index {
   box-shadow:inset 0px 1px 0px 0px #71C1FF;
   border: 1px solid #0095FF;
   background-color: #0095FF;
   cursor: pointer;
   border-radius: 5px;
   height:35px;
   width: 100px;
   color: whitesmoke;
   
  }
  
  .ask-a-question-button-index:hover {
    box-shadow:inset 0px 1px 0px 0px #5FA7DD;
    border: 1px solid #0077CC;
    background-color: #0077CC;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 100px;
    color: whitesmoke;

  }
  .index-question-list-item{
    border-top: 1px solid #D6D9DC;
    display: flex;
    flex-direction: row;
  }

.question-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 55px;
}

.votes-index-item-container{
  color: #6A737C;
  text-align: center;
}

.answers-index-item-container{
  color: #FFFFFF;
  margin-left: 15px;
  margin-right: 15px;
  width: 55px;
  background-color: #5DBA7D;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px
  
}
  .views-index-item-container{
    color: #F48025;
    text-align: center;
    font-size: 16px;
  }

  .question-item-preview {
    padding-left: 20px;
    width: 600px
  }

  
  .bottom-of-preview-question-index{
    margin-top: -10px;
    margin-left: 60%;
    flex-direction: row;
    justify-content: end;
    bottom: 0;
    font-size: 13px;
    text-decoration: none;
  }
  
  .bottom-of-preview-question-index img{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .asked-by-text{
    color: #848D95;
  }
  
  .preview-to-question-on-index:link {
    color: blue;
  }

  .answer-create-form{
    width: 90%
  }
  
.answer-create-form form {
  margin-left: 4%;
  width: 100%;
}

.answer-create-actual-form button {
  box-shadow:inset 0px 1px 0px 0px #71C1FF;
  border: 1px solid #0095FF;
  background-color: #0095FF;
  cursor: pointer;
  border-radius: 5px;
  height:35px;
  width: 65px;
  color: whitesmoke;
  left: 0;
  width: 10%;
  margin-bottom: 15px;
}

.answer-create-actual-form button:hover {
  box-shadow:inset 0px 1px 0px 0px #5FA7DD;
  border: 1px solid #0077CC;
  background-color: #0077CC;
  cursor: pointer;
  border-radius: 5px;
  height:35px;
  width: 65px;
  color: whitesmoke;
  left: 0;
  width: 10%;
  margin-bottom: 15px;
}

.answer-input-box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  outline:0;
  border: 1px solid #BBC0C4;
  resize: none;
  height: 200px
}
.answer-input-box:focus {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  outline:0;
  border: 1px solid #BBC0C4;
  resize: none;
  height: 200px;
  box-shadow: 0 0 5px 3px rgba(217, 236, 252, .4);
}

.hot-questions-list {
  position: absolute;
  list-style: none;
  /* width: 250px; */
  /* height: 250px; */
  margin-top: 50px;
  margin-left: 100px;
  min-height: 100px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(217, 236, 252, .4);
}

.hot-questions-header {
  background-color: #FBF2D4;
  color: #6A737C;
  margin-left: -40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  border: 1px solid #F1E5BC;
  min-height: 40px;
}



.hot-questions-list li {
  background-color: orange;
  margin-left: -40px;
  border-bottom: 1px solid #F1E5BC;
  background-color: #FDF7E3;
  min-height: 75px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 16px;
}

.hot-questions-list :last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FDF7E3;
  min-height: 75px;
  padding-left: 15px;
  padding-top: 10px;
}

.hot-questions-title {
  margin-top: 0;
  margin-left: 15px;

}