.question-show-container{
padding-top: 43px;
display: flex;
height: 80%;
padding-bottom: -10px;
}

.question-show-left{
  /* background: red; */
  width: 25%;
  position: fixed;
  left: 0;
  height: 0%;
}

.question-show-right{
  flex-basis: 60%;
  margin-left: 25%;
  height: 100%; 
  overflow: auto;
  border-left: 2px solid #D6D9DC

}

.left-nav-home-button{
  background-color: #EFF0F1;
  border: 0;
  right: 0px;
  float: right;
  height: 33px;
  width: 166px;
  border-right: 3px solid #F48025;
  text-align: left;
  margin-top: 25px;
  margin-right: -5px;
  cursor: pointer;
  font-weight: bold;
}

.votes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-sort-up{
  margin-top: 70px;
  color: #BBC0C4;
}

.fa-sort-down{
  margin-bottom: 50px;
  color: #BBC0C4;
}

.fa-sort-up:hover{
  /* margin-top: 50px; */
  color: green;
  cursor: pointer;
}

.fa-sort-down:hover{
  margin-bottom: 50px;
  color: red;
  cursor: pointer;
}


.votes h3{
  padding-left: 11px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: -25px;
  color: #BBC0C4
}

.questions-show-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: -50px;
  margin-left: -200px;
  margin-right: 5%;
  
}


.questions-show-header h3{
  width: 500px;
  margin-left: -1%;
}

  #question-title{
    margin-left: -200px;
    width: 800px;
    margin-right: 100px;
  }

.ask-a-question-timestamp-show{
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  
}


.ask-a-question-timestamp-show b{
  margin-right: 5px;
  font-size: 20px;
}

.ask-a-question-timestamp-show p{
  font-size: 14px;
}

 .ask-a-question-button-show {
   box-shadow:inset 0px 1px 0px 0px #71C1FF;
   border: 1px solid #0095FF;
   background-color: #0095FF;
   cursor: pointer;
   border-radius: 5px;
   height:35px;
   width: 100px;
   color: whitesmoke;
   
  }
  
  .ask-a-question-button-show:hover {
    box-shadow:inset 0px 1px 0px 0px #5FA7DD;
    border: 1px solid #0077CC;
    background-color: #0077CC;
    cursor: pointer;
    border-radius: 5px;
    height:35px;
    width: 100px;
    color: whitesmoke;

  }
  .show-question-list-item{
    border-top: 1px solid #D6D9DC;
    display: flex;
    flex-direction: row;
  }

  .question-show-body{
  min-height: 200px;
  align-items: center;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
}

  .question-show-answer-item{
  min-height: 150px;
  align-items: center;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.answer-item-in-question{
  display: flex;
  min-height: 100px;
  margin-right: 5%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -25px;
  float: right;
  margin-left: 50%
}

.bottom-of-q-index{
  background-color:#EFF0F1;
  margin-left: 80%;
  padding-left: 10px;
  /* margin-right: 0%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-of-q-index{
  display: flex;
  text-align: left;
  padding-left: 15px;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.top-of-q-index p{
  width: 800px;
  /* background-color: red; */
}


  .top-of-q-index button {
    margin-right: 10px;
    background-color: #E1ECF4;
    cursor: pointer;
    border-radius: 5px;
    height:25px;
    width: 75px;
    color: #39739D;
    box-shadow:inset 0px 1px 0px 0px #F6F9FC;
    border: 1px solid #39739D;
    float: left;
    margin-top: 5px;
  }
  
  .top-of-q-index button:hover {
    margin-right: 10px;
    background-color: #B3D3EA;
    cursor: pointer;
    border-radius: 5px;
    height:25px;
    width: 75px;
    box-shadow:inset 0px 1px 0px 0px #E2EFF7;
    border: 1px solid #39739D;
    float: left;
    margin-top: 5px;
    
  }

.bottom-left{
  margin-top: 25px;

}

  .bottom-of-question-show{
    margin-top: -10px;
    margin-right: 0px;
    flex-direction: column;
    justify-content: end;
    float: right;
    bottom: 0;
    font-size: 13px;
    text-decoration: none;
    background-color: #E1ECF4;
    min-height: 35px;
    width: 150px;
    border-radius: 5px;
    padding: 10px;

  }
  
  
  .bottom-right img{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .bottom-of-question-show text{
    color: #848D95;
    padding-left: 15px;
    padding-right: 10px;
  }
  
  .preview-to-question-on-index:link {
    color: blue;
  }

  .list-of-answers-to-this-question{
    margin-top: -30px;
  }

  .bottom-right{
    margin-left: -300px;
    height: 75px;
    width: 150px;
    bottom: 5px;
    margin-top: 80px;
  }

  .bottom-right text{
  font-size: 12px;
  color: #848D95;
  padding-top: -15px;
}

.answer-on-q-index{
  display: flex;
  flex-direction: row;
  width: 100%
}

.entire-answer{
  width: 93%;
  margin-left: 1.5%;
  min-height: 150px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.answer-votes-up{
  margin-top: 50px;
  color: #BBC0C4;
}

.answer-votes-down{
  margin-bottom: 50px;
  color: #BBC0C4;
}

.answer-votes-up:hover{
  margin-top: 50px;
  color: green;
  cursor: pointer;
}

.answer-votes-down:hover{
  margin-bottom: 50px;
  color: red;
  cursor: pointer;
}


.answers h3{
  padding-left: 1px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: -25px;
  color: #BBC0C4
}