button:focus {
    outline:0;
    cursor: pointer;
}

button {
    font-family: 'Work Sans', sans-serif;
    border: none;
}

a {

    font-family: 'Work Sans', sans-serif;
}
div{
    font-family: 'Work Sans', sans-serif;
}